services:
    server:
        container_name: config
        restart: unless-stopped
        build:
            context: .
            dockerfile: ./Dockerfile
        entrypoint: /code/entrypoint.sh
        volumes:
            - static_volume:/code/staticfiles
            - media_volume:/code/media
        expose:
            - 8000     
        environment:
            DEBUG: "False"
            SECRET_KEY: ${SECRET_KEY}
            ALLOWED_HOSTS: ${ALLOWED_HOSTS}
            CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
            DATABASE_URL: ${DATABASE_URL}

volumes:
    static_volume:
    media_volume:
